body{
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 26px;
	font-size: 14px;
	color: #333;
	background-color: #f2f2f2;
}

.site-navigation{
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 72px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.site-navigation li{
	width: 25%;
}

.navigation-item:nth-child(2) > a{
	margin-left: -22px;
}

.navigation-item:nth-child(3) > a{
	margin-right: -22px;
}

.site-navigation .right{
	text-align: right;
}

.site-navigation a{
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

.main-navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-height: 56px;
}

.main-navigation .logo{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	margin-top: -1px;
	z-index: 1;
}

.logo img{
	display: block;
}

.main-navigation a:hover,
.main-navigation a:focus{
	color: #81b3d2;
}

.main-navigation a:active{
	color: #cecece;
}

.main-navigation .active,
.main-navigation .active:hover,
.main-navigation .active:focus,
.main-navigation .active:active{
	color: #766357;	
}

.promo-wrap::after{
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 90px;
	background-image: url("../img/intro-mask.svg");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	-ms-bottom: 23px;
	bottom: -2px;
}

.promo-wrap{
	position: relative;
	background-image: url("../img/intro-background.jpg");
	background-position: 50% 25%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 508px;
	margin-bottom: 60px;
}

.promo-img-wrap{
	margin: 0 auto;
	width: 460px;
	padding-top: 75px;
}

.promo b{
	margin: 0 auto;
	display: block;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 27px;
	color: #000;
	width: 450px;
}

.promo p{
	margin: 0;
}

.promo{
	margin-bottom: 51px;
	text-align: center;
}

.hotels{
	position: relative;
	text-align: center;
	width: 100%;

}

.hotels h2{
	padding: 0;
	margin-top: 50px;
	font-size: 30px;
	line-height:36px;
	margin-bottom: 25px;
	color: #000;
}

.hotel-description{
	line-height:24px;
	color: #333;
	margin-top: 0;
	margin-bottom: 49px;
}

.modal-window-wrap{
	position: relative;
	top: 0;
	-webkit-transition: 0.35s;
	transition: 0.35s;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	z-index: 1;
}

.modal-window{
	position: absolute;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 570px;
	-webkit-box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
	        box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
	margin-top: 0;
	left: 315px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	font-weight: 700;
	padding: 55px;

}

.hide-form{
	-webkit-transform: scaleY(0);
	        transform: scaleY(0);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition: 0.35s;
	transition: 0.35s;
}

.half-width{
	width: 230px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.adults{
	margin-right: 42px; 
}

.info-label{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.children{
	margin-left: 50px;
	margin-right: 27px;
}

.info-label input{
	height: 38px;
	border: none;
	background-color: #f2f2f2;
	width: 345px;
	margin-left: 19px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 8px 10px;
	outline: none;
	font-weight: 700;
	border: 2px solid #f2f2f2;
	text-transform: uppercase;
}

.info-label input:hover{
	background-color: #ebebeb;
}

.info-label input:focus,
input.part-of-input:focus{
	background-color: #fff;
	border: 2px solid #e5e5e5;
}

.half-width input{
	text-align: center;
	font-weight: 700;
}

.half-width input::-webkit-outer-spin-button,
.half-width input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.part-of-input{
	width: 39px;
	height: 39px;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: none;
	background-color: #f2f2f2;
	display: block;
	outline: none;
}

.modal-window p{
	color: #000;
}

.date-btn-wrap{
	position: absolute;
	top: 5px;
	right: 2px;
	border: none;
	background-color: transparent;
}

.date-btn:hover{
	fill: #000;
}

.btn-input{
	font-size: 25px;
	color: #a9a9a9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.btn-input:hover span,
.btn-input:hover span::after,
.btn-input:focus span,
.btn-input:focus span::after{
	background-color: #000;
}

.btn-input:active span,
.btn-input:active span::after{
	background-color: #81b3d2;
}

.minus{
	display: block;
	height: 3px;
	width: 12px;
	background-color: #a9a9a9;
}

.plus{
	display: block;
	height: 3px;
	width: 11px;
	background-color: #a9a9a9;
}

.plus::after{
	content: "";
	display: block;
	height: 3px;
	width: 11px;
	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.date-btn:active{
	fill: #81b3d2;
}

.button-modal-window{
	font-size: 21px;
	font-weight: 700;
	color: #fff;
	width: 570px;
	min-height: 85px;
	border: none;
	background-color: #766357;
	outline: none;
	text-transform: inherit;
	z-index: 3;
	position: relative;
}

.button-modal-window:hover,
.button-modal-window:focus{
	background-color: #604e43;
}

.button-modal-window:active{
	background-color: #503e33;
	color: #928a85;
}

.wrap-arrivel{
	margin-top: 0;
	margin-bottom: 27px;
	position: relative;
}

.wrap-departure{
	margin: 0 auto;
	margin-bottom: 30px;
	position: relative;
}

.arrivel,
.departure{
	font-weight: 700;
}

.date{
	width: 95px;
}

.find{
	margin-top: 53px;
	font: inherit;
	text-transform: uppercase;
	line-height: 26px;
	font-size: 21px;
	color: #fff;
	font-weight: 700;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 60px;
	background-color: #81b3d2;
	border: none;
}

.find:hover{
	background-color: #669ec0;
}

.find:active{
	background-color: #5496bd;
	color: #94b9d2;
}

.footer-hashtag{
	font-size: 21px;
	font-weight: 700;
	margin: 0;
	margin-left: 133px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 11px;
}

.footer-copyright{
	margin: 0;
	margin-left: 219px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.logo-footer{
	margin-left: 8px;
	margin-top: 4px;
}

.copyright{
	margin-top: 11px;
}

.logo-footer:hover path,
.logo-footer:focus path{
	fill: #81b3d2;
}

.logo-footer:active path{
	fill: #bdbbbc;
}

.filters-item{
	border: none;
	padding: 0;
}

.filters-item legend{
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 4px;
}

.label-filter{
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.form-filters{
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 28px 72px;

}

.wrap-filters{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.right-column{
	padding-top: 2px;
}

.show-result{
	font-size: 14px;
	line-height: 21px;
	border-radius: 2px;
	border: solid 2px #fff;
	color: #fff;
	background-color: transparent;
	position: absolute;
	right: 98px;
	top: 119px;
	width: 135px;
	min-height: 35px;
	text-transform: inherit;
}

.show-result:hover{
	background-color: #fff;
	color: #000;
}

.image-wrap{
	margin-right: 31px;
}

.description{
	color: #333;
	line-height: 21px;
	width: 500px;
	height: 90px;
	-moz-min-height: 90px;
	-webkit-min-height: 90px;
	-o-min-height: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.left-column-desc{
	width: 110px;
}

.right-column-desc{
	width: 140px;
	margin-left: 7px;

}

.bottom-part{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: -1px;
}

.btn-desc{
	margin-top: 15px;
}

.desc-caption a{
	font-weight: 700;
	color: #000;
	text-decoration: none;
	outline: none;
}

.desc-caption{
	-webkit-transform: translateY(-6px);
	        transform: translateY(-6px);
	width: 100%;
}

.desc-caption a:hover,
.desc-caption a:focus{
	color: #81b3d2;
}

.desc-caption a:active{
	color: #cacaca;
}

.desc-caption{
	display: block;
	margin: 0;
	font-size: 21px;
	line-height: 26px;
}

.search-result-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding: 27px 72px;
	position: relative;
}

.rating{
	color: #666;
	display: block;
	padding: 3px 14px;
	background-color: #f2f2f2;
	margin-top: 64px;
}

.wrap-rating{
	margin-left: auto;
}

.filter-list{
	list-style: none;
}

.page-footer{
	position: relative;
	background-color: rgba(255, 255, 255, 0.9);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1200px;
	margin-top: -130px;
	padding-top: 36px;
	padding-bottom: 36px;
}


.main-footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 36px;
	padding-bottom: 36px;
}

.footer-social{
	padding-left: 0;
	margin: 0;
	margin-left: 255px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 160px;
}

.footer-social li{
	list-style: none;
	margin-right: 6px;
}

.footer-social li:last-child{
	padding-right: 0;
}

.footer-social a{
	text-decoration: none;
}

.wrap-content{
	width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	        box-shadow:0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.filters-item ul{
	margin: 0;
	padding: 0;
}

.center-column{
	margin-left: 110px;
}

.right-column{
	margin-left: auto;
	width: 320px;
}

.map img{
	display: block;
}

.map .hide{
	display: none;
}

.image-wrap img{
	display: block;
}

.more,
.book{
	padding: 0;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}


.more{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 110px;
	background-color: #81b3d2;
	color: #fff;
	display: block;
	padding: 3px;
}

.book{
	width: 140px;
	display: block;
	background-color: #766357;
	color: #fff;
	padding: 3px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.more:hover,
.more:focus{
	background-color: #669ec0;
}

.book:hover,
.book:focus{
	background-color: #604e43;
}

.more:active{
	background-color: #5496bd;
	color: #92b9d2;
}

.book:active{
	background-color: #503e33;
	color: #928a85;
}

.filter-list li{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
	height: auto;
	margin: 0;
	margin-top: 19px;
}

.filter-list .filter{
	padding: 0;
	margin: 0;
}

.features{
	line-height: 21px;
}

.features-list li{
	list-style: none;
}

.info{
	width: 400px;
}

.img-feature-wrap img{
	display: block;
}

.img-feature-wrap{
	width: 800px;
	background-color: #81b3d2;
}

.gray-bg h3{
	color: #000;
}

.advantages-item{
	padding-top: 162px;
	padding-bottom: 82px;
}

.advantages-item h3{
	margin-top: 0;
	margin-bottom: 23px;
}

.features-list{
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	text-align: center;
}

.features-item{
	width: 400px;
}

.blue-bg,
.gray-bg{
	padding-top: 47px;
	padding-bottom: 60px;
}

.features-item h3{
	font-size: 21px;
}

.advantages-list{
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1200px;
}

.advantages-item{
	width: 400px;
}

.housing{
	background-image: url(../img/icon-1.svg);
	background-size: 72px 75px;
	background-repeat: no-repeat;
	background-position: 50% 56px;
}

.food{
	background-image: url(../img/icon-2.svg);
	background-size: 72px 75px;
	background-repeat: no-repeat;
	background-position: 50% 56px;
}

.presents{
	background-image: url(../img/icon-3.svg);
	background-size: 72px 75px;
	background-repeat: no-repeat;
	background-position: 50% 56px;
}

.blue-bg{
	background-color: #81b3d2;
	color: #fff;
}

.blue-bg h3{
	width: 160px;
	margin: 0 auto;
}

.number{
	display: block;
}

.blue-bg .number{
	margin-bottom: 18px;
	margin-top: 24px;
}

.gray-bg h3{
	width: 150px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.gray-bg .number{
	margin-bottom: 20px;
}

.wide{
	width: 1200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.reverse{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

.gray-bg{
	background-color: #eee;
}

.description-features{
	width: 305px;
	margin: 0 auto;
}

.advantages-item .description-features{
	width: 300px;
	margin: 0 auto;
}

.gray-bg .description-features{
	width: 270px;
}

.gray-bg .small-line{
	width: 250px;
}

.social-button{
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.social-button:hover,
.social-button:focus{
	background-color: #669ec0;
}
.social-button:active{
	background-color: #5496bd;
}
.social-button:active path{
	fill: #88b6d1;
}
.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.filter-range{
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title{
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls{
	position: relative;
	height: 36px;
	margin-bottom: 20px;  
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label{
	display: inline-block;
	font-size: 14px;
	line-height: 36px;
	vertical-align: top;
	color: #fff;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price{
	width: 90px;
	padding-left: 65px;
	height: 36px;
}

.price-controls .max-price{
	padding-left: 56px;
}

.price-controls input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	height: 36px;
}

.range-controls{
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale{
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle{
	position: absolute;
	top: -9px; 
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover{
	background: #1c4f80;
}

.range-toggle-min{
	left: 0;
}

.range-toggle-max{
	left: 80%;
}

.btn-transparent{
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover{
	color: #000000;
	background: #ffffff;
}

.filter:focus + label{
	outline: 1px solid #fff;
}

.label-filter{
	position: relative;
	padding-left: 40px;
}

.filter + label:before{
	content: "";
	left: 0;
	position: absolute;
	width: 26px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.filter:checked + label:before{
	background-image: url(../img/checkbox-on.svg);
}

.btn-click{
	cursor: pointer;
}

.star{
	background-image: url(../img/star.svg);
	background-repeat: space;
	height: 17px;
	position: absolute;
	right: 0;
}

.four-stars{
	width: 89px;
}

.three-stars{
	width: 65px;
}

.two-stars{
	width: 41px;
}

.wrap-rating{
	min-height: 90px;
	position: relative;
}

.sorting{
	padding: 31px 72px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.find-sort{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin-right: 50px;
}

.type{
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
	margin-right: 40px;
}

.sort-item{
	margin-right:30px;
	text-decoration: none;
	color: #cacaca;
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item:hover{
	color: #81b3d2;
}

.sort-item:active{
	color: #000;
	border: none;
	border-bottom: 1px dashed transparent;
}

.active-sort{
	color: #81b3d2;
	border: none;
}

.active-sort:active{
	border: none;
	color: #81b3d2;
}

.dir-up{
	margin-right: 10px;
}

.dir path{
	fill: #cacaca;
}

.dir-active path{
	fill: #81b3d2;
}

.dir:hover path{
	fill: #231f20;
}

.dir:active path{
	fill: #81b3d2;
}

.dir-active:hover path{
	fill: #81b3d2;
}

.order{
	margin-left: auto;
}

.order a{
	text-decoration: none;
}

@-webkit-keyframes error{
	20% {
		-webkit-transform: translate(30px);
		        transform: translate(30px);
	}

	40% {
		-webkit-transform: translate(-30px);
		        transform: translate(-30px);	
	}

	60%{
		-webkit-transform: translate(15px);
		        transform: translate(15px);
	}

	80%{
		-webkit-transform: translate(-15px);
		        transform: translate(-15px);
	}
	
	100% {
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}

@keyframes error{
	20% {
		-webkit-transform: translate(30px);
		        transform: translate(30px);
	}

	40% {
		-webkit-transform: translate(-30px);
		        transform: translate(-30px);	
	}

	60%{
		-webkit-transform: translate(15px);
		        transform: translate(15px);
	}

	80%{
		-webkit-transform: translate(-15px);
		        transform: translate(-15px);
	}
	
	100% {
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}

.error{
	-webkit-animation: error 0.6s;
	        animation: error 0.6s;
}

.map iframe{
	border: none;
}