body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
}

.page-header{
	background-color: #fff;
}

.site-navigation{
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	align-items: center;
}

.site-navigation a{
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

.main-navigation{
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.main-navigation .logo{
	order: 1;
}

.main-navigation .logo img{
	display: block;
	order: 1;
}

.navigation-item{
	width: 265px;
	text-align: center;
}

.right-site-navigation{
	order: 2;
}

.main-navigation a:hover,
.main-navigation a:focus{
	color: #81b3d2;
}

.main-navigation a:active{
	color: #cecece;
}


.main-navigation .active{
	color: #766357;	
}

.promo-wrap{
	background-image: url("../img/intro-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 800px;
	margin-bottom: 65px;
}

.promo-img-wrap{
	margin: 0 auto;
	width: 460px;
	padding-top: 75px;
}

.promo b{
	display: block;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 40px;
}

.promo p{
	margin: 0;
	color: #333;
}

.promo{
	margin-bottom: 55px;
	text-align: center;
}

.features{
	margin-bottom: 55px;
}

.hotels{
	text-align: center;
}

.hotels h2{
	font-size: 30px;
	line-height:36px;
	margin-bottom: 35px;
}

.hotels p{
	line-height:24px;
	color: #333;
	padding-bottom: 50px;
}

.button-modal-window{
	font-size: 21px;
	font-weight: 700;
	color: #fff;
}

.arrivel,
.departure{
	font-weight: 700px;
}

.find{
	font-size: 21px;
	color: #fff;
	font-weight: 700px;
}

.footer-hashtag{
	font-size: 21px;
	font-weight: 700;
	margin: 0;
}

.footer-copyright{
	margin: 0;
	margin-left: 230px;
}

.filters-item{
	border: none;
}

.filters-item legend{
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	font-weight: 700;
}

.label-filter{
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.form-filters{
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrap-filters{
	display: flex;
}

.show-result{
	font-size: 14px;
	line-height: 21px;
}

.description{
	color: #333;
	line-height: 21px;
}

.btn a{
	color: #fff;
}

.description h2 a{
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

.search-result-item h2{
	font-size: 21px;
	line-height: 26px;
}

.search-result-item .rating{
	color: #666;
}

.filter-list{
	list-style: none;
}

.main-footer{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-social{
	margin-left: 255px;
}

.wrap-content{
	width: 1055px;
	margin: 0 auto;
}

.filters-item ul{
	margin: 0;
	padding: 0;
}

.center-column{
	margin-left: 75px;
}

.right-column{
	margin-left: auto;
}